################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/cryptomonitor/.vs/cryptomonitor
/cryptomonitor/cryptomonitor/obj
/cryptomonitor/CryptoMonitor.Test/bin/
/cryptomonitor/CryptoMonitor.Test/obj/
